body {
    // background: #001 url('/static/img/star_field.jpg');
    background: #001 url('https://sombrero.hatstand.club/images/star_field.jpg');
    color: AliceBlue;
    font-family: monospace;
}

a,a:visited,a:active,a:hover {
    color: AntiqueWhite;
}

.ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ui-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.star-grid {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5vmin;
}

.star-row {
    display: flex;
    justify-content: center;
}

.star {
    width: 15vmin;
    height: 15vmin;
    font-size: 2vmin;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.star.owned {
    border-radius: 5vmin;
    background: rgba(200, 128, 128, 0.1);
}

a.star-orb {
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
    color: Black;
}

.star>* {
    display: block;
    cursor: pointer;
}

a.navigation-button {
    background: black;
    display: inline-block;
    width: 5vmin;
    height: 5vmin;
    vertical-align: middle;
    text-align: center;
    line-height: 5vmin;
    font-size: 2vmin;
    text-decoration: none;
    box-shadow: 1px 1px 1px AntiqueWhite;
}