{# starlines/web/templates/star_grid.html #}

{% macro star_grid(list_of_list_of_stars) %}
<div class="star-grid">
{% for row in list_of_list_of_stars %}
<div class="star-row">
{% for star in row %}
    <div class="star">
        {% if star %}
        <small>{{ star.name }}</small>
        <div class="ui-row">
            <a
                    class="star-orb"
                    href="{{ url_for('.view_star_details', star_id=star.id) }}"
                    title="{{ star['current_mass'] }} / {{ star['maximum_mass'] }}"
                    style="background-color: {{ star.colour.hex }}; box-shadow: 0px 0px 10px {{ star.colour.hex }}; width: {{ (star.current_mass / 2.0) }}vmin; height: {{ (star.current_mass / 2.0) }}vmin; line-height: {{ (star.current_mass / 2.0) }}vmin; font-size: {{ (star.current_mass / 3.0) }}vmin; transform: translate({{ star.offset[0] }}%, {{ star.offset[1] }}%)"
            >{{ star['current_mass'] }}</a>
        </div>
        <small>&#x26f5; {{ star.orbiting_ships }}</small>
        {% else %}
        <p></p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endfor %}
    </div>
{% endmacro %}